# Android / Gradle
.gradle
**/build/
.externalNativeBuild
.cxx

# OS
.DS_Store

# Android Studio
/captures

# Local config
local.properties

# IntelliJ / Android Studio
.idea/
!.idea/codeStyles/
!.idea/codeStyles/*
!.idea/inspectionProfiles/
!.idea/inspectionProfiles/*
*.iml

# Secrets and configurations
**/google-services.json
**/firebase.json
**/keystore.properties
**/*.jks
**/*.keystore
.env

# Tests
test-output/
coverage/

# Generated
.dart_tool/
.flutter-plugins-dependencies

# Flutter
.flutter-plugins
.packages

# iOS / macOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
macos/Pods/
macos/.symlinks/

# Xcode workspace user data
**/xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
**/xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
**/xcuserdata/

# Logs
*.log

# VSCode (if you ever use it)
.vscode/
